htdocs
www
linkchecker/*.log
twitter/account.*
twitter/*.log
twitter/shortterm.txt
twitter/vendor
data
passwd
log

.idea/
local/**/*.[Jj][Pp][Gg]
local/**/*.[Zz][Ii][Pp]
local/**/*.[Pp][Dd][Ff]
.vscode
.idea
venv
.venv

# Windows
Thumbs.db
desktop.ini

# OS X
.DS_Store
.Spotlight-V100
.Trashes
._*

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
