@charset "UTF-8";

/* News ボタン */
#news-btn {
	margin-left: 6px;
}

/* 「日本の科学者」 */
#jjs-img {
  max-height: 340px;
  max-width: 240px;
}

/* ポスター */
.poster-area {
  padding: 8px;
}
.poster-item {
  margin-bottom: 8px;
}
.poster-item img {
  width: 80%;
}
#poster-full {
  display: none;
  position: absolute;
  max-height: 400px;
  max-width: 300px;
}
